@variables cellVar{
    side: 24px;
}

root { 
    display: block;
}

body{
    text-align: center;
}

div{
    display:inline-block;
}

.cell{
    display:block;
    float:left;
    border: 0;
    width: 24px;
    height:24px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    text-shadow: yellow 0.1em 0.1em 0.2em;
}

.aisle{
    float:left;
    background: url("img/clay.jpg") repeat;
}

.verAisle{
    height: 24px;
    width: 5px;
}

.horAisle{
    height: 5px;
    width: 29px;
}

.horAisleFiller{
    height: 5px;
    width: 5px;
}

.cellYellow{
    background: url("img/grass.jpg") repeat;
}

.cellRed{
    background: url("img/bomb.jpg") repeat;
}

.cellGray{
    background: url("img/empty.jpg") repeat;
}

.cellBlue{
    background: url("img/flag.jpg") repeat;
}

.cellYellow:hover{
    background-color: #F7BE81;
}

.rowbreak{
    clear: both;
    display: block;
}

#map-wrapper{
    margin: auto;
    text-align: center;
}

.blocked{
    display:block;
}

#dashboard{
    margin-top: 30px;
    display: inline-block;
    background: url("img/board.jpg") repeat;
    padding: 20px;
    color: #F7D358;
}

#clock{
    color: #80FF00;
    font-size: 12px;
    font-style: italic;
    
}

#status{
    margin: 10px auto auto auto;
    font-size: 10px;
    
}

#flag{
    font-size: 10px;
    margin: auto 10px auto 10px;
}
